@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  background-color: rgb(31, 31, 31);
  min-height: 1000px;
  width: 100%;
  overflow-x: hidden;
  min-width: 400px;
}
