.post {
  border-color: rgb(125, 125, 125);
  padding: 5px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  background-color: rgb(31, 31, 31);
  min-width: 500px;
  max-width: 700px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
  color: rgb(255, 255, 255);
}

.post-text {
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 271px;
}

.character-image {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  object-fit: cover;
}

.post-content {
  font-size: 15px;
}

.post-credits {
  margin-top: 0px;
  font-size: 12px;
  font-style: italic;
}

.post-score {
  font-size: 20px;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-controls {
  position: absolute;
  margin-left: 680px;
  margin-bottom: 85px;
  /* z-index: 0; */
}

.post-edit-button {
  margin-left: -29px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: rgba(0, 0, 0, 0);
}

.post-delete-button {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.post-upvote-button {
  font-size: 20px;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.post-downvote-button {
  font-size: 20px;
  color: rgb(255, 172, 172);

  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.selection {
  max-width: 700px;
  height: 19px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bottom-border {
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(125, 125, 125);
}

.upvoted {
  font-size: 20px;
  color: rgb(0, 121, 81);
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.downvoted {
  font-size: 20px;
  color: rgb(121, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

@media only screen and (max-width: 375px) {
  .post {
    min-width: 300px;
    max-width: 360px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px
  }
  .user-controls {
    position: absolute;
    margin-left: 340px;
  }
  .selection {
    max-width: 300px;
    height: 19px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post-upvote-button {
    margin-bottom: 75px;
    margin-right: -33px;
  }

  .post-downvote-button {
    margin-top: 75px;
    margin-right: -3px;

  }

  .post-score {
    margin-right: -38px;

  }
  .character-image {
  width: 60px;
  min-width: 60px;
  }

  .post-content {
    margin-right: 10px;
    font-size: 12px;
  }
  
  .post-credits {
    font-size: 10px;
  }
}
